@use './variables' as *;

@mixin green {
    color: $green;

}

@mixin scale {
    transition: 1s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin changeBgColor {
    transition: .3s;

    &:hover {
        background-color: $dark;
    }
}