@use './variables' as *;

@mixin green {
    color: $green;

}

@mixin scale {
    transition: 1s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin changeBgColor {
    transition: .3s;

    &:hover {
        background-color: $dark;
    }
}

@mixin shadow {
    transition: .4s;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@mixin subTitle {
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: .9rem;
}